@media screen and (max-width: 1189px) {
  .howitworks-grid__item:nth-of-type(3) {
    grid-column: 1 / -1;
    justify-content: center;
  }

}

@media screen and (max-width: 770px) {
  .header {
    justify-content: space-between;
  }

  .nav-list {
    justify-content: flex-start;
  }

  .nav-list li:not(li:nth-child(3)) {
    display: none;
  }

  .mobNavBox {
    display: block;
    position: absolute;
    top: 7rem;
    right: 2rem;
  }

  .openMobNav {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
  }

  .openMobNav svg {
    width: 3.5rem;
  }

  .mobileNav {
    display: block;
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    transform: translateX(100%);
    transition: all .4s;
  }

  .open {
    transform: translateX(0);
  }

  .nav-list-mob {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .nav-list-mob li a {
    font-size: 2.5rem;
    color: #533a89;
  }

  .closeMobNav {
    background: #ece9f2;
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(198, 189, 216, 0.3);
    font-size: 2.5rem;
  }

  .hero-title {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    width: 80%;
  }



  .dateInput {
    width: 30rem;
  }

  .btn {
    padding: 1rem 6rem;
    font-size: 1.3rem;
  }

  .about-contentBox {
    flex-direction: column;
  }
}