@media screen and (max-width: 1189px) {
  .howitworks-grid__item:nth-of-type(3) {
    grid-column: 1 / -1;
    justify-content: center;
  }

}

@media screen and (max-width: 500px) {
  .nav-list {
    justify-content: flex-start;
    padding-left: 2rem;
    ;
  }

  .nav-list li:not(li:nth-child(3)) {
    display: none;
  }

  .hero {
    width: 80%;
  }

  .hero-title {
    font-size: 4.2rem;
  }

  .dateInput {
    width: 30rem;
  }

  .btn {
    padding: 1rem 6rem;
    font-size: 1.3rem;
  }

  .about-contentBox {
    flex-direction: column;
  }
}