@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 8rem;
}

.logo-text span {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list li {
  font-size: 1.2rem;
}

/* HERO */
.hero {
  height: 70vh;
  background: url("https://images.immediate.co.uk/production/volatile/sites/25/2019/10/GettyImages-498234774-c41c82f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  color: white;
}

/***************
  HOW IT WORKS 
****************/

.howitworks {
  height: 30rem;
}


/***************
  PHOTOS GRID 
****************/

.photosGrid {
  background: rgb(0, 0, 0);
  padding: 4rem 0 10rem 0;
}

.photosGrid-content {
  text-align: center;

}

h2 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
}

button {
  border: none;
  padding: .5rem 2rem;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(64, 36, 124), rgb(47, 47, 198));
  color: white;
}

button:hover {
  cursor: pointer;
}

.imgList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 1rem;
}

.imagenes {
  gap: 1rem;
}

.newLi {
  height: 10rem;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.bdImg:hover {
  cursor: pointer;
}