@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

ul,
ol {
  list-style: none;
}


img {
  max-width: 100%;
}

section {
  padding: 10rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.grid {
  display: grid;
}

/***************
  HEADER
****************/
.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(black, rgba(0, 0, 0, 0.1) 60%), url(../imgs/backrground/mountain-stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.logo img,
.nasaLogo img {
  width: 15rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-list li a {
  font-size: 2.5rem;
}

/***************
  HERO
****************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 6rem;
  text-align: center;
  line-height: 1.1;
  color: white;
  animation: scale 1s;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/***************
  HOW IT WORKS 
****************/

.howitworks {
  background: 584e59;
}

.howitworks-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.howitworks .secondary-heading {
  color: black;
}

.nasaLogo img:first-child {
  margin-right: 2rem;
}

.howitworks-description {
  text-align: center;
  font-size: 2rem;
  line-height: 1.4;
}

.howitworks-grid {
  grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
  justify-content: center;
  gap: 5rem;
  padding: 5rem 0;
}

.howitworks-grid__item {
  position: relative;
  height: 18rem;
  display: flex;
  align-items: center;
}

.item-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  font-size: 25rem;
  color: #eee
}

.item-heading {
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.1;
  color: #555
}


/***************
  PHOTOS GRID 
****************/

.photosGrid {
  background: rgb(15, 15, 15);
}

.photosGrid-content {
  text-align: center;

}

.secondary-heading {
  color: white;
  font-size: 5rem;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.loading-message {
  font-size: 2rem;
  animation: loading 2s ease-in-out infinite;
}

.done {
  animation: none;
  color: white;
}

@keyframes loading {
  0% {
    color: white;
  }

  25% {
    color: #533a89;
  }

  75% {
    color: #4444cc;
  }

  100% {
    color: white;

  }
}

.dateInput {
  border: none;
  width: 40rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  color: rgb(64, 36, 124);
}



.form-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  border: none;
  padding: 1rem 8rem;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(64, 36, 124), rgb(47, 47, 198));
  color: white;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #533a89, #4444cc);
}



.imgList {
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 2rem;
}

.newLi {
  height: 20rem;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.bdImg:hover {
  cursor: pointer;
}

dialog {
  padding: auto;
  margin: auto;
  width: 80rem;
  height: 80rem;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background: rgb(35, 35, 35);
  color: white;
}

dialog::backdrop {
  background: rgba(0 0 0 / 0.5);
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background: rgb(50, 50, 50);
}

.dialogTitle {
  color: #a092be;
  text-align: left;
  font-size: 3rem;
}

.dialogContentBox {
  text-align: left;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialogCloseBtn {
  font-size: 3rem;
  padding: .1rem .8rem;
  background: transparent;
  transition: background .2s;
}

.dialogCloseBtn:hover {
  cursor: pointer;
  padding: .1rem .8rem;
  background: rgb(35, 35, 35);
}

.dialogDate {
  font-size: 2rem;
  color: rgb(146, 146, 146);
}

.dialogDesc {
  font-size: 2rem;
  line-height: 1.3;
  color: rgb(230, 230, 230);
}