@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 8rem;
}

.logo-text span {
  font-size: 2rem;
}

.nav-list {
  display: flex;
  gap: 2rem;
}

.nav-list li {
  font-size: 1.2rem;
}

/* HERO */
.hero {
  height: 70vh;
  background: url("https://images.immediate.co.uk/production/volatile/sites/25/2019/10/GettyImages-498234774-c41c82f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 4rem;
  color: white;
}

/***************
  HOW IT WORKS 
****************/

.howitworks {
  height: 3rem;
}


/***************
  PHOTOS GRID 
****************/

.photosGrid {
  background: rgb(0, 0, 0);
  padding: 4rem 0 10rem 0;
}

.photosGrid-content {
  text-align: center;

}

.heading {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
}

.dateInput {
  border: none;
  width: 20rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: bold;
  color: rgb(64, 36, 124);
}

.btn {
  border: none;
  padding: .5rem 2rem;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(64, 36, 124), rgb(47, 47, 198));
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.imgList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  gap: 1rem;
}

.newLi {
  height: 10rem;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.bdImg:hover {
  cursor: pointer;
}

dialog {
  padding: auto;
  margin: auto;
  width: 50rem;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background: rgb(21, 21, 21);
  color: white;
}

dialog::backdrop {
  background: rgba(0 0 0 / 0.5);
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: rgb(42, 42, 42);
}

.dialogHeader span {
  font-size: 2rem;
}

.dialogTitle {
  color: lightblue;
  text-align: left;
  font-size: 2rem;
}

.dialogContentBox {
  text-align: left;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialogCloseBtn:hover {
  cursor: pointer;
}

.dialogDate {
  font-size: 1.3rem;
  color: rgb(146, 146, 146);
}

.dialogDesc {
  font-size: 1.1rem;
  line-height: 1.5;
  color: rgb(230, 230, 230);
}