@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Merriweather:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
}

/***************
  HEADER
****************/
.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(black, rgba(0, 0, 0, 0.1) 60%), url(/imgs/backrground/mountain-stars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.logo img {
  width: 15rem;
}


.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-list li a {
  font-size: 2.5rem;
}

/***************
  HERO
****************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  /* font-family: "Merriweather", serif; */
  font-size: 6rem;
  text-align: center;
  line-height: 1.1;
  color: white;
  /* transition: all .2s; */
  animation: scale 1s;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}



/***************
  HOW IT WORKS 
****************/

.howitworks h2 {
  color: black;
}

.howitworks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
  justify-content: center;
  gap: 5rem;
}

.howitworks-grid__item {}

.item-number {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  font-size: 5rem;

}

.item-heading {
  font-size: 3rem;
}


/***************
  PHOTOS GRID 
****************/

.photosGrid {
  background: rgb(0, 0, 0);
  padding: 4rem 0 10rem 0;
}

.photosGrid-content {
  text-align: center;

}

.secondary-heading {
  color: white;
  font-size: 5rem;
  margin-bottom: 2rem;
}

form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.loading-message {
  font-size: 2rem;
  animation: loading 2s infinite;
}

.done {
  animation: none;
  color: white;
}

@keyframes loading {
  0% {
    color: white;
  }

  50% {
    color: red;
  }

  100% {
    color: yellow;
  }

}

.dateInput {
  border: none;
  width: 40rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bold;
  color: rgb(64, 36, 124);
}

.btn {
  border: none;
  padding: 1rem 6rem;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(64, 36, 124), rgb(47, 47, 198));
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.imgList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  gap: 2rem;
}

.newLi {
  height: 20rem;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.bdImg:hover {
  cursor: pointer;
}

dialog {
  padding: auto;
  margin: auto;
  width: 80rem;
  height: 80rem;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  background: rgb(21, 21, 21);
  color: white;
}

dialog::backdrop {
  background: rgba(0 0 0 / 0.5);
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background: rgb(42, 42, 42);
}

.dialogHeader span {
  font-size: 2rem;
}

.dialogTitle {
  color: lightblue;
  text-align: left;
  font-size: 3rem;
}

.dialogContentBox {
  text-align: left;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialogCloseBtn {
  font-size: 1.6rem;
  padding: .1rem .8rem;
  background: transparent;
  transition: background .2s;
}

.dialogCloseBtn:hover {
  cursor: pointer;
  padding: .1rem .8rem;
  background: rgb(21, 21, 21);
}

.dialogDate {
  font-size: 2rem;
  color: rgb(146, 146, 146);
}

.dialogDesc {
  font-size: 2rem;
  line-height: 1.3;
  color: rgb(230, 230, 230);
}